@import '../../styles/settings.scss';

.container {
    max-width: 700px;
    height: 75vh;
    margin: 0 auto;
    box-shadow: 0 10px 20px $color-dark-grayish-cyan;
    background-color: $color-light-grayish-cyan;
    position: relative;
}

